:root {
	--white-color: #fafafb;
	--background-color: #111828;
	--grey-color: #b5b5be;
	--purple: #8758ff;
	--navwidth: 12rem;
}

.habits-grid {
	display: grid;
	grid-template-columns: 1fr 30%;
	grid-template-rows: 1fr;
}

.habits-container {
	flex: 4 0 auto;
	overflow: hidden;
}

.container {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.new-habit {
	align-self: left;
}

.new-habit > button {
	margin-top: 0.45rem;
	background-color: var(--purple);
	border: none;
	border-radius: 5px;
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0.3rem 0.55rem;
	display: block;
	/* float: right; */
	cursor: pointer;
	margin-bottom: 8px;
}

button {
	background: linear-gradient(#0000, rgb(0 0 0/20%)) top/100% 800%;
}

.habit-container {
	background: linear-gradient(#0000, rgb(0 0 0/15%)) top/100% 800%;
	transition: 0.5s;
}

.habit-container:hover {
	background-position: bottom;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: white;
	float: left;
	padding: 8px 12px;
	margin-left: 5px;
	text-decoration: none;
}

.pagination a.active {
	background-color: var(--purple);
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}

.menu {
	justify-content: center;
	margin: 0px 1rem;
	top: 20px;
	height: 70vh;
	border-left: 1px solid var(--grey-color);
	padding-left: 20px;
}

.menu-name,
.menu-start,
.menu-end,
.menu-interval,
.menu-note {
	font-size: 1rem;
}

.menu-actions > button {
	display: none;
}

.menu-placeholder {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu-placeholder > img {
	width: 100%;
}

.menu-placeholder > p {
	text-align: center;
	font-size: 1.8rem;
}

.menu-content {
	position: relative;
	height: 100%;
	display: none;
	flex-direction: column;
}

.menu-content > div {
	margin: 0.5rem 0px;
}

.menu-info,
.menu-colour {
	display: none;
	color: lightslategray;
}

.menu-info-show {
	display: block;
}

.edit-name,
.edit-note,
.edit-colour {
	display: none;
	background-color: #292932;
	border: 1px solid white;
	border-radius: 5px;
}

#editHabit,
#deleteHabit {
	color: var(--white-color);
	background-color: var(--purple);
	border: none;
	border-radius: 5px;
}

#updateButton {
	position: absolute;
	right: 0;
	bottom: 10%;
	display: none;
	background-color: var(--purple);
	border: none;
	border-radius: 5px;
}

.deleteButtons {
	border: none;
}

/* div:has(.menu-name) {
	flex: 0 0 5rem;
}

div:has(.menu-note) {
	flex: 2 0 15rem;
}

div:has(.menu-colour) {
	flex-grow: 2;
} */

button:hover {
	background-position: bottom;
}

.menu-note {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.pagination {
	visibility: hidden;
}

.colour-value {
	display: none;
}

@media (max-width: 380px) {
	.menu-placeholder > p {
		font-size: 10px;
	}

	.habits-grid {
		grid-template-columns: 1fr;
	}

	.menu {
		border: none;
		padding-left: 0px;
	}
}
