:root {
	--white-color: #fafafb;
	--background-color: #111828;
	--grey-color: #b5b5be;
	--purple: #8758ff;
	--navwidth: 12rem;
}
.streak {
	float: right;
	/* margin-top: 4; */
	margin-right: 2rem;
	font-weight: bolder;
	padding: 0.3rem 0.55rem;
	display: block;
	font-size: 1.7rem;
}

#streakNum {
	font-size: 1.7rem;
	padding: 0.3rem 0.55rem;
	font-weight: bolder;
	margin-top: 4%;
}

h1 {
	display: inline-block;
}

button {
	margin-top: 0.45rem;
	background: linear-gradient(#0000, rgb(0 0 0/15%)) top/100% 800%;
	background-color: var(--purple);
	border: none;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0.3rem 0.55rem;
	cursor: pointer;
}

button:hover {
	background-position: bottom;
}

.list {
	/* border-radius: 5px; */
	border-top: 2px solid white;
	padding: 1rem 1rem 1.25rem 1rem;
	height: fit-content;
	max-height: 8rem;
	overflow-y: hidden;
	overflow-x: hidden;
}

.list:hover {
	overflow-y: scroll;
}

#today-list {
	height: auto;
	max-height: 33%;
}

h4 {
	padding: 0rem;
	margin: 0.75rem 0.75rem 1rem 0.75rem;
	font-size: 1.25rem;
}

.checkbox {
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	margin-left: 16px;
}
input[type="checkbox"] {
	display: none;
}

.checkbox span {
	display: inline-block;
	vertical-align: middle;
}

.checkbox span:first-child {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	transform: scale(1);
	vertical-align: middle;
	border: 2px solid var(--white-color);
	transition: all 0.2s ease;
}

.checkbox span:first-child svg {
	position: absolute;
	z-index: 1;
	width: 12p;
	height: 9px;
	top: 5px;
	left: 3px;
	fill: none;
	stroke: #8758ff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
}

.checkbox span:first-child:before {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	transform: scale(0);
	opacity: 1;
	border-radius: 50%;
	transition-delay: 0.2s;
}
.checkbox span:last-child {
	margin-left: 8px;
}
.checkbox span:last-child:after {
	content: "";
	position: absolute;
	top: 8px;
	left: 0;
	height: 1px;
	width: 100%;
	background: #8758ff;
	transform-origin: 0 0;
	transform: scaleX(0);
}
.checkbox:hover span:first-child {
	border-color: var(--purple);
}

.ticked + .checkbox span:first-child {
	animation: check 0.6s ease;
	border: 2px solid var(--purple);
}

.ticked + .checkbox span:first-child svg {
	stroke-dashoffset: 0;
}

.ticked + .checkbox span:first-child:before {
	transform: scale(2.2);
	opacity: 0;
	transition: all 0.6s ease;
}

.ticked + .checkbox span:last-child {
	color: var(--purple);
	transition: all 0.3s ease;
}

@keyframes check {
	50% {
		transform: scale(1.2);
	}
}

#bird {
	display: block;
	width: 20%;
	opacity: 80%;
	margin: auto;
}

#noHabits {
	display: block;
	opacity: 80%;
	font-size: 20px;
	/* margin-left: 25%; */
	text-align: center;
	padding-bottom: 30px;
}
.habitdate {
	margin-bottom: 4px;
}

.info {
	float: right;
	text-align: right;
}

@media screen and (max-width: 620px) {
	.streak {
		float: none;
		padding: 0;
	}
}
