:root {
	--white-color: #fafafb;
	--background-color: #111828;
	--grey-color: #b5b5be;
	--purple: #8758ff;
	--navwidth: 12rem;
}

.habits-grid {
	display: grid;
	grid-template-columns: 1fr 30%;
	grid-template-rows: 1fr;
}

.habits-container {
	flex: 4 0 auto;
	overflow: hidden;
}

.container {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.new-habit {
	align-self: left;
}

.new-habit > button {
	margin-top: 0.45rem;
	background-color: var(--purple);
	border: none;
	border-radius: 5px;
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0.3rem 0.55rem;
	display: block;
	margin-bottom: 8px;
}

button {
	background: linear-gradient(#0000, rgb(0 0 0/20%)) top/100% 800%;
}

.habit-container {
	transition: 0.5s;
	cursor: auto;
	border-bottom: 2px solid slategray;
	height: 3rem;
}

h2,
h3 {
	align-self: flex-end;
	display: inline;
	width: 50%;
}
h3 {
	float: right;
	margin: 0;
	text-align: right;
}
.pagination {
	display: inline-block;
}

.pagination a {
	color: white;
	float: left;
	padding: 8px 12px;
	margin-left: 5px;
	text-decoration: none;
}

.pagination a.active {
	background-color: var(--purple);
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}

button:hover {
	background-position: bottom;
}

.menu-note {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.pagination {
	visibility: hidden;
}

.colour-value {
	display: none;
}
