:root {
	--white-color: #fafafb;
	--background-color: #111828;
	--grey-color: #b5b5be;
	--purple: #8758ff;
	--navwidth: 12rem;
}

body {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	background-color: var(--background-color);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	margin-top: 70px;
	border: 1px solid;
	border-radius: 10px;
	padding: 20px;
	background-color: var(--white-color);
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100px;
	gap: 5px;
}

img {
	height: 60px;
	width: auto;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input[type="text"],
input[type="password"] {
	display: inline-block;
	border: 1px solid var(--background-color);
	font-size: 20px;
	border-radius: 5px;
	padding: 12px 20px;
	width: 300px;
	margin-bottom: 8px;
}

input[type="submit"] {
	border: none;
	border-radius: 10px;
	background-color: var(--purple);
	padding: 10px 20px;
	width: 100%;
	font-size: 20px;
	font-weight: bolder;
}

a {
	text-decoration: underline;
	color: inherit;
}

#error-warning {
	display: none;
}
