/* The Modal (background) */
:root {
	--white-color: #fafafb;
	--background-color: #111828;
	--grey-color: #b5b5be;
	--purple: #8758ff;
	--navwidth: 12rem;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	z-index: 10;
}

/* Modal Content/Box */
.modal-content {
	background-color: var(--background-color);
	margin: 5% auto;
	padding: 2rem 4rem;
	border: 2px solid var(--grey-color);
	border-radius: 5px;
	width: 60%;
	z-index: 10;
}

h2 {
	font-size: 1.5rem;
}

/* The Close Button */
.close {
	color: var(--grey-color);
	float: right;
	font-size: 40px;
}

.close:hover,
.close:focus {
	color: var(--purple);
	text-decoration: none;
	cursor: pointer;
}

form * {
	display: inline-block;
	padding: 5px;
}

.forminput {
	margin: 3px;
	width: 80%;
}

.modal-content textarea,
.modal-content input,
.modal-content select {
	background-color: black;
	border: 1px solid var(--white-color);
	color: var(--white-color);
	border-radius: 5px;
}

.modal-content textarea {
	width: inherit;
}

#name {
	width: 60%;
}

#frequency {
	width: 12%;
}

#timeframe {
	margin: 0px, 5px;
}

#start_dt,
#end_dt {
	width: 25%;
}

#submitNew {
	background: linear-gradient(#0000, rgb(0 0 0/20%)) top/100% 800%;
	background-color: var(--purple);
	padding: 5px;
	margin-left: 87%;
	font-size: 18px;
	border: none;
	cursor: pointer;
}

#submitNew:hover {
	background-position: bottom;
}

.modal label {
	width: 6rem;
}

#colour {
	height: 3rem;
}

/* delete modal */
#deleteWarning {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	z-index: 10;
	text-align: center;
}

.deleteButtons {
	background-color: var(--purple);
	padding: 5px;
	margin-left: 10px;
	border: 1px solid var(--white-color);
	border-radius: 5px;
	font-size: 18px;
}

/* Colour options */
option[value="#708090"] {
	color: #708090;
}
option[value="#8758ff"] {
	color: var(--purple);
}
option[value="#79d861"] {
	color: #79d861;
}
option[value="#c43c5d"] {
	color: #c43c5d;
}
option[value="#ff5050"] {
	color: #ff5050;
}
option[value="#0470DC"] {
	color: #0470dc;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	background-color: var(--purple);
}
