.overdue-list,
.today-list,
.upcoming-list {
	border-radius: 20px;
	border: 2px solid white;
	padding: 0.5rem 1rem 1.25rem 1rem;
}

.overdue-list li,
.today-list li,
.upcoming-list li {
	padding: 0.25rem 0rem 0.25rem 1.5rem;
	list-style: none;
}

h4 {
	padding: 0rem;
	margin: 0.75rem 0.75rem 1rem 0.75rem;
}
